.checkout {
  display: flex;
  max-width: 1550px;
  align-items: center;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0 auto;
}

.order-summary {
  width: 50%;
  color: #fff;
}

.backsm {
  display: none;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.65rem 5rem;
  gap: 2rem;
  background-color: #0d5c63;
}

.summary button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.summary button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.payment-options {
  background-color: #1f2e27;
  padding: 0 5rem 0.25rem;
}

.payment-options h3 {
  text-align: center;
  padding: 1rem 0;
}

.payment-methods {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.payment-methods p:hover {
  color: #0d5c63;
}

.coupon {
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 10px;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.coupon input {
  width: 70%;
  padding: 0.5rem;
  border: 0;
  outline: none;
  font-size: 1.2rem;
}

.coupon button {
  background-color: #1f2e27;
  color: #fff;
  border: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}

.coupon button:hover {
  background-color: #0d5c63;
}

.payment-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.tax {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.free {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free span {
  margin: 0 1rem;
  display: flex;
  gap: 1rem;
}

input[type="radio"] {
  accent-color: #0d5c63;
}

.flat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flat span {
  margin: 0 1rem;
  display: flex;
  gap: 1rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.order {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
  width: 85%;
  font-size: 1rem;
  text-wrap: nowrap;
  cursor: pointer;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}

.order:hover {
  background-color: #0d5c63;
  color: #fff;
}

.billing-details {
  width: 50%;
  padding: 0rem 4rem;
}

.billing-details h2 {
  text-align: center;
  margin: 2rem 0;
}

.billing-details input[placeholder] {
  padding: 0.5rem 1rem;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.name {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.last-name {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.first-name {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.email {
  display: flex;
  flex-direction: column;
}

.company {
  display: flex;
  flex-direction: column;
}

.country {
  display: flex;
  flex-direction: column;
}

.country select {
  padding: 0.5rem 1rem;
}
.number {
  display: flex;
  flex-direction: column;
}

.number select {
  padding: 0.5rem 0;
  border: 0;
  outline: none;
}

.number input {
  padding: 0.5rem 1rem;
  border: 0;
  outline: none;
  width: 91.8%;
}

.num {
  border: 1px solid #1f2e27;
}

.create {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .back {
    display: none;
  }
  .backsm {
    display: block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
  .summarysm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
  }
  .checkout {
    flex-direction: column-reverse;
  }
  .billing-details {
    width: 80%;
    padding: 0rem 2rem;
  }
  .name {
    flex-direction: column;
    gap: 0;
  }
  .last-name {
    width: 100%;
  }
  .first-name {
    width: 100%;
  }
  .order-summary {
    width: 100%;
  }
  .summary {
    padding: 2rem 0rem 15rem;
  }
  .payment-options {
    border-radius: 15px 15px 0 0;
    padding: 0 7rem 0.25rem;
    margin: -1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .billing-details {
    width: 100%;
  }
  .billing-details h2 {
    margin: 1rem 0;
  }
  .num {
    display: flex;
  }
  .payment-options {
    padding: 0 2rem 0.25rem;
  }
}
