body.showCart #cart {
  display: block;
}

.store {
  background: #fff3e6;
}

header {
  max-width: 1550px;
  padding: 1rem 0;
  color: #1f2e27;
  position: fixed;
  width: 100%;
  background-color: #fff3e6;
  z-index: 100;
}

.container {
  width: 84.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.search-bar {
  border: 1px solid #1f2e27;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.25rem 1rem;
}

#search {
  font-size: 1.5rem;
}
header select,
header button,
header input {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
}

header input {
  padding: 0 1rem;
  width: 280px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-cart span {
  margin-left: 0.5rem;
  font-weight: bold;
}

.favorite-cart {
  cursor: pointer;
  color: red;
}

.search {
  display: none;
}

.hero {
  padding-top: 2rem;
}

.hero img {
  width: 100%;
}
.herosm {
  display: none;
}

.categories {
  display: flex;
  gap: 4.4rem;
  align-items: center;
  margin: 3rem auto;
  width: 84.5%;
}

.categories p {
  border-radius: 50%;
  background-color: #d9d9d9;
  padding: 1rem 1.2rem;
}

.setting {
  font-size: 30px;
}

.flash-sale {
  background-color: #1f2e27;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 120px;
  color: #fff;
  margin: 1rem auto;
}

.flash {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  color: #1f2e27;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.countdown p {
  font-size: 1.5rem;
  font-weight: bold;
}

.countdown span {
  font-size: 1.5rem;
  font-weight: bold;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.arrows button {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.arrows button:hover {
  background-color: #0d5c63;
  color: #fff;
}

.arrows button:active {
  background-color: #0d5c63;
  color: #fff;
}

.arrows button:last-child {
  background-color: #0d5c63;
  color: #fff;
}

.flash-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 5rem;
}

.scroll {
  width: 84.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.3rem;
  padding-left: 80px;
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.flash-card {
  background-color: #fff3e6;
  border-radius: 20px 20px 0 0;
  height: 100%;
  position: relative;
}

.icon-heart {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0.5rem;
  background-color: #ccc;
  border-radius: 50%;
  line-height: 10px;
}

.icon-heart:hover {
  color: #ee2525;
}

.icon-heart:active {
  background-color: #ee2525;
  fill: #ee2525;
}

.card-details {
  padding: 0 0.5rem;
}

.slashed {
  color: #ee2525;
  text-decoration: line-through;
}

.sale-indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.indicator {
  height: 5px;
  width: 130px;
  background-color: #0d5c63;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.indicator > div {
  height: 10px;
  width: 20%;
  background-color: #fff;
  border-radius: 10px;
}

.products {
  width: 84.5%;
  margin: 0 auto;
  color: #1f2e27;
}

.specials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  margin: 2.5rem 0 1.5rem;
}

.tab {
  padding: 0.25rem 1rem;
  border: 1px solid #1f2e27;
  cursor: pointer;
}

.tab:first-child {
  background-color: #0d5c63;
  color: #fff;
}

.tab:hover {
  background-color: #0d5c63;
  color: #fff;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.product {
  width: 22%;
  border-radius: 25px 25px 0 0;
  position: relative;
}

.product img {
  width: 100%;
  height: auto;
}

.product h3 {
  margin: 1rem;
}

.product span {
  display: flex;
  align-items: center;
  margin: 1rem;
}

hr {
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.stores {
  width: 84.5%;
  margin: 5rem auto;
}

.collections {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.small-hero {
  width: 400px;
}

.small-hero img {
  width: 100%;
  border-radius: 20px;
}

.stores h1 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  gap: 2rem 7rem;
}

.store-item {
  width: 40%;
  border: 1px solid #0d5c63;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.profile > span {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
}

#rose {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.thumbnails {
  display: flex;
  gap: 1rem;
}

.footer-hero {
  width: 100%;
  background: url("/static/images/footer-hero.jpeg");
  background-size: cover;
  color: #fff;
  font-size: 3rem;
  padding: 4rem;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #1f2e27;
  color: #fff;
  padding: 2rem 7.5rem;
}

footer span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription h3 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.subscription p {
  font-size: 1rem;
}

.subscription form {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 0 1rem;
}

.subscription input {
  width: 90%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.subscription input::placeholder {
  color: #fff;
}

.submit {
  cursor: pointer;
}

.submit:hover {
  color: #0d5c63;
}

.links {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.links ul {
  margin: 1rem 0;
  font-size: 1rem;
  cursor: pointer;
}

.links li {
  list-style: none;
  padding: 0.5rem 0;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.socials ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  cursor: pointer;
}

.socials li:hover {
  color: #0d5c63;
}

.cartbtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0d5c63;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cartbtn:hover {
  background-color: #1f2e27;
}

#cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #fff3e6;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

#cart-items {
  max-height: 70%;
  overflow-y: auto;
  margin: 1rem auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-item .image img {
  width: 100px;
  height: 60px;
  border-radius: 4px;
}

.cart-item .quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  padding: 0.15rem;
  border-radius: 8px;
}

.cart-item .quantity span {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.remove {
  color: #ee2525;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.05rem;
  line-height: 0.5rem;
  margin: 0.25rem;
  background-color: #d9d9d9;
  cursor: pointer;
}

#totalPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#cart-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#cart-btn button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cart-btn #close {
  background-color: #ccc;
}

#cart-btn #checkout {
  background-color: #0d5c63;
  color: #fff;
}

#cart-btn #checkout:hover {
  background-color: #1f2e27;
}

@media screen and (max-width: 1441px) {
  .product {
    width: 30%;
  }
}

@media screen and (max-width: 1025px) {
  .categories {
    overflow-y: scroll;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
  .navigation {
    padding: 1rem 80px;
  }
  .scroll {
    justify-content: flex-start;
    width: 85%;
    padding-left: 0rem;
  }
  .product {
    width: 29%;
  }
  .store-list {
    height: 350px;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .store-list::-webkit-scrollbar {
    display: none;
  }
  .store-item {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .search-bar {
    display: none;
  }
  .search {
    display: block;
  }
  .navigation {
    padding: 1rem 60px;
  }
  .product {
    width: 46%;
  }
  .footer-hero h1 {
    font-size: 2.5rem;
  }
  footer {
    padding: 2rem 4rem;
  }
  footer span {
    flex-direction: column;
    align-items: flex-start;
  }
  .links {
    gap: 7rem;
  }
}

@media screen and (max-width: 426px) {
  .hero {
    width: 100%;
  }
  .hero img {
    width: 100%;
    height: 100%;
  }
  .limited {
    display: none;
  }
  .herosm {
    display: block;
  }
  .categories {
    gap: 1rem;
    margin: 1rem auto;
  }
  .navigation {
    padding: 1rem 30px;
  }
  .scroll {
    width: 90%;
    gap: 1rem;
    padding-left: 10px;
  }
  .specials {
    flex-direction: column;
    align-items: flex-start;
  }
  .selection {
    flex-wrap: wrap;
    text-wrap: nowrap;
    font-size: 1.2rem;
    gap: 1rem;
    margin: 1rem 0;
  }
  .product {
    width: 100%;
  }
  .small-hero {
    width: 350px;
  }
  .stores {
    width: 100%;
  }
  .store-list {
    width: 80%;
    flex-direction: column;
  }
  .store-item {
    width: 100%;
    padding: 5rem;
  }
  .collections {
    gap: 1rem;
    flex-direction: column;
  }
  footer {
    padding: 2rem 2.5rem;
  }
  .socials ul {
    font-size: 1.5rem;
    gap: 5rem;
  }
  .links {
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 376px) {
  .categories {
    margin: 1rem auto;
    gap: 1rem;
  }
  .countdown p {
    font-size: 1.2rem;
  }
  .countdown span {
    font-size: 1rem;
  }
  .scroll {
    width: 90%;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 10px;
  }
  .arrows {
    display: none;
  }
  .small-hero {
    width: 250px;
  }
  .store-item {
    padding: 1rem;
  }
  .links {
    gap: 2rem;
  }
}
